{% extends 'index.html' %}
{% load static %}
{% block body %}
<style>
	nav{
		background-color:black;
	}
</style>
<p style="font-size:50px; margin-top:100px; text-align:center; color:red;">About us</p>
<ul style="margin-left:50px; padding-bottom:10px;margin-bottom:250px; display:block;">
	<li style="padding-bottom:30px;">We offer a wide variety of vechicle services like puncher servicse,breakdown issues,online fuel delivery,online spare parts delivery and much more.</li>


	<li style="padding-bottom:30px;" >Why choose AutoServ for your car services ?</li>
		
		<ul>

		<li>Utilization of 100%genuine spare parts</li>
		
		<ul style="margin-left:30px;">Genuine spare parts are available at AutoServe for use in all of the services.</ul>
		
		<li>Multi platform customer support</li>
		
		<ul style="margin-left:30px;">You can reach us via email or chat on website</ul>
		
		<li>Competitive pricing</li>
		
		<ul style="margin-left:30px;">There is nothing that makes a customer happier than services</ul>
		
		<li>Multiple payment options</li>
		<ul style="margin-left:50px;">
		<li>Paytm</li>
		
		<li>Cash on delivery</li>
		
		<li>Pay after services</li>
		
		</ul>
		</ul>

</ul>



{% endblock %}

