<!DOCTYPE html>
<html>
<head>
	<title>Fuel Filling Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<style>
    
</style>
<div class="container">
   
	<h2 class="text-center mb-4">Fuel Filling Form</h2>
	<form>
		<div class="form-group">
			<label for="vehicle-number">Vehicle Number:</label>
			<input type="text" class="form-control" id="vehicle-number" placeholder="Enter vehicle number" name="vehicle-number">
		</div>
		<div class="form-group">
			<label for="fuel-type">Fuel Type:</label>
			<select class="form-control" id="fuel-type" name="fuel-type">
				<option value="">--Select Fuel Type--</option>
				<option value="petrol">Petrol</option>
				<option value="diesel">Diesel</option>
				<option value="cng">CNG</option>
			</select>
		</div>
		<div class="form-group">
			<label for="fuel-quantity">Fuel Quantity (in litres):</label>
			<input type="number" class="form-control" id="fuel-quantity" placeholder="Enter fuel quantity" name="fuel-quantity">
		</div>
		<div class="form-group">
			<label for="fuel-rate">Fuel Rate:</label>
			<input type="number" class="form-control" id="fuel-rate" placeholder="Enter fuel rate" name="fuel-rate">
		</div>
		<div class="form-group">
			<label for="total-amount">Total Amount (in INR):</label>
			<input type="number" class="form-control" id="total-amount" placeholder="Enter total amount" name="total-amount">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>


</body>
</html>
