{% extends 'admin_navigation.html' %}
{% load static %}
{% block p %}
<div class="cardBox">
    <a href="{% url 'add_service' %}">
    <div class="card"> 
        <div>
            <div class="numbers">3</div>
            <div class="cardName" <a href="{% url 'new_service_man' %}">Add Service</div>
        </div>

        <div class="iconBx">
            <ion-icon name="person-outline"></ion-icon>
        </div>
    </div>
</a>

    <a href="{% url 'view_service' %}">
    <div class="card">
        <div>
            <div class="numbers">8</div>
            <div class="cardName">View service</div>
        </div>

        <div class="iconBx">
            <ion-icon name="person-outline"></ion-icon>
        </div>
    </div>

   
    </div>

  
  </div>
{% endblock %}